<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
	<title>Email password reset done</title>
</head>
<body>
	<p>Hi <strong th:text="${user}">User</strong>.</p>
	<p>Your password has been changed successfully for <strong th:text="${email}">User</strong>.</p>
	<p>If you have not made a password change, please contact us and notify us of this event.</p>
	<p>Please do not reply to this email. Contact us at <a href="mailto:support@renovus.tech">support@renovus.tech</a>.</p>
</body>
</html>