<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
	<title>Email password reset</title>
</head>
<body>
	<p>Hi <strong th:text="${user}">User</strong>.</p>
	<p>We got a request to reset your Renovus Solarec password for <strong th:text="${email}">User</strong>.</p>
	<p>To start the process, please click the following link (within an hour):</p>
	<center><a href="${link}">${link}</a></center>
	<p>Please do not reply to this email. Contact us at <a href="mailto:support@renovus.tech">support@renovus.tech</a>.</p>
</body>
</html>