<configuration>

	<property name="logFilePath" value="C:/development/eclipse/workspace/solarec-java/_files/logs"/>

    <!-- Console Appender -->
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- Appenders -->
    <appender name="weather_daily_appender" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${logFilePath}/weather/weather.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${logFilePath}/weather/weather.%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>7</maxHistory> <!-- Keep logs for 7 days -->
        </rollingPolicy>
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>
    <appender name="schedule_daily_appender" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${logFilePath}/schedule/schedule.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${logFilePath}/schedule/schedule.%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>7</maxHistory> <!-- Keep logs for 7 days -->
        </rollingPolicy>
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>
    <appender name="inverter_daily_appender" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${logFilePath}/inverters/invertes.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${logFilePath}/inverters/inverters.%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>7</maxHistory> <!-- Keep logs for 7 days -->
        </rollingPolicy>
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>
    <appender name="certificate_daily_appender" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${logFilePath}/certificate/certificate.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${logFilePath}/certificate/certificate.%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>7</maxHistory> <!-- Keep logs for 7 days -->
        </rollingPolicy>
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- Loggers -->
    <logger name="weather" 		level="all" additivity="true"><appender-ref ref="weather_daily_appender"/></logger>
    <logger name="schedule" 	level="all" additivity="true"><appender-ref ref="schedule_daily_appender"/></logger>
    <logger name="inverter" 	level="all" additivity="true"><appender-ref ref="inverter_daily_appender"/></logger>
    <logger name="certificate" 	level="all" additivity="true"><appender-ref ref="certificate_daily_appender"/></logger>

    <!-- Root Logger -->
    <root level="all">
        <appender-ref ref="CONSOLE"/>
    </root>

</configuration>
